
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #8b5495;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    width: 100%;
    max-width: 900px;
    margin-bottom: 25px;
    text-align: center;
}

header h1 {
    color: #f5f4f6;
    font-size: 2.2rem;
}

/* Conteúdo Principal */
main {
    width: 100%;
    max-width: 900px;
    background: #fce1ff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.0);
}

/* Formulário */
section form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 35px;
    background-color: #98719f;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #20242c;
}

section form input {
    padding: 12px;
    border: 1px solid #fefefe;
    border-radius: 6px;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

section form input:focus {
    border-color: #d73bf6;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.0);
}

section form button {
    grid-column: 1 / -1;
    padding: 12px;
    background-color: #5c3b78;
    color: rgb(254, 246, 246);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

section form button:hover {
    background-color: #371268;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 8px;
    border: none;
}

table th, table td {
    padding: 14px 16px;
    text-align: left;
}

table thead tr {
    background-color: #9d64ee;
    color: #bdeaff;
    font-weight: 600;
}

table tbody tr {
    border-bottom: 1px solid #c7dcf8;
    transition: background-color 0.15s ease;
}

table tbody tr:nth-of-type(even) {
    background-color: #eab2fb;
}

table tbody tr:hover {
    background-color: #af74c9;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.85rem;
    color: #984ec2;
    font-weight: 500;
}